<%  @feeds.map do |feed| %>
   <div class="continer">
      <% if feed.feedable_type == "Like" %> 
        <p><% feed.user.name %> liked <% feed.post.name %></p>
      <% elsif feed.feedable_type == "Comment" %>
         <p><% feed.user.name %> commented on <% feed.post.name %></p>
      <% elsif feed.feedable_type == "Bookmark" %>
         <p><% feed.user.name %> bookmarked <% feed.post.name %></p>
      <% elsif feed.feedable_type == "Follow" %>
         <p><% feed.user.name %> bookm <% feed.post.name %></p>            
      <% end %>
   </div>
   <!-- When user comment -->
   <!-- When user like -->
   <!-- When user bookmark -->
<% end %>