<%  @feeds.map do |feed| %>
   <div class="continer">
   <% if feed.feedable_type == "Like" %> 
     <p> <% feed.user.name %> liked  </p>
   
   </div>
   <% user = User.find(feed.user_id) %>
   <% post = Post.find(feed.post_id) %>
   <p><% user.name %> posted <% post.content %></p>
<% end %>