<%  @feeds.map do |feed| %>
   <div class="continer">
      <% if feed.feedable_type == "Like" %> 
        <p><% feed.user.name %> liked <% feed.post.name %></p>
      <% elsif feed.feedable_type == "Comment" %>

      <% elsif feed.feedable_type == "Bookmark" %>
          
      <% end %>
   </div>
   <!-- When user comment -->
   <!-- When user like -->
   <!-- When user bookmark -->
<% end %>