<!-- INDEX ALL THE ROW ALL COLMUNS HERE -->
<br>
<div class="container">
<div class="box">

<% @colmun.map do |colmun| %>

<!--showing the name -->
<h1><%= colmun.name  %></h1>
<!-- Database query start here-->
<h4>Tables this colmun name is connected to:</h4>

<% colmun.database_table_id.map  do |table_id| %>
  
  <% @database_table = DatabaseTable.find(table_id) %>
  
  <h4> This are the list of database it is connected to: </h4> <%= @database_table.databasename %>

<% end %>

<!-- Database query ends here -->

<!-- This should be array -->
<%= colmun.tag %>

<% end %>
</div>
</div>