<div class="container">
<h3>Inbox</h3>

<div class="form-control">
   <h4>Following</h4>
      <% @follows.each do |follow| %>
         <% if follow.following.id != current_user.id %>
            <div class="row">
            <%= image_tag avatar_url(follow.following), class: "card-type-icon with-border material-icons" %>
            <%= link_to follow.following.name, conversations_path(sender_id: current_user.id, recipient_id: follow.following.id), method: "post"%>
            </div>
      <% end %>
      <% end %>
</div>
<br>
<div class="form-control">
   <h4>Messages From</h4>
   <div class="row">
        <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <div class="col-2">
           <h4><%= image_tag avatar_url(recipient), class: "card-type-icon with-border material-icons" %></h4>
        </div>
        <div class="col-3"> 
           <h4><%= link_to recipient.name, conversation_messages_path(conversation)%></h4>
        </div>
        <% end %>
        <% end %>
   </div>
</div> 

</div>