<div class="container">
<h6>Inbox</h6>

<div>
   <h6>Following</h6>
      <% @follows.each do |follow| %>
         <% if follow.following.id != current_user.id %>
         <ol class="list-group">
         <li class="list-group-item d-flex justify-content-between align-items-start">
         <div class="ms-2 me-auto">
           <%= image_tag avatar_url(follow.following), class: "card-type-icon with-border material-icons" %>
           <%= link_to follow.following.name, conversations_path(sender_id: current_user.id, recipient_id: follow.following.id), method: "post"%>
         </div>
         </li>
         </ol>
      <% end %>
      <% end %>
</div>
<br>
<div>
   <h6>Messages From</h6>
   <div class="row">
        <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
         <div class="ms-2 me-auto">
         <div class="fw-bold"><%= image_tag avatar_url(recipient), class: "card-type-icon with-border material-icons" %></div>
          <%= link_to recipient.name, conversation_messages_path(conversation)%>
         </div>
         <span class="badge bg-primary rounded-pill" alt="Unread Messages">14</span>
        </li>
        </ol>
        <% end %>
        <% end %>
   </div>
</div> 

</div>