<div class="container">
<h4>Your Notifications</h4>
<hr>

<div id="notifications">

</div>

<% @current_user_notifications.map do |notification| %>

<div class="border-card">
<div class="content-wrapper">
    <!-- which post user liked -->
    <p class="title"><p><%= notification.notify_message %></p></p>
    <p class="caption">Date: <%= notification.notificationable.created_at if notification.notificationable %> </p>
</div>

</div>
<% end %>
<center><%= will_paginate @current_user_notifications %></center>
</div>