<!-- footer start -->
    <footer class="bg-dark text-light py-5 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h3>LonDevs.com</h3>
                            <small class="d-block text-muted">© 2021</small>
                            <small class="d-block text-muted">Current modules are taken from https://bootsnipp.com</small>
                            <small class="text-muted">All Rights Reserved.</small>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">
                            
                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                     <h5>Features</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                         <a class="text-muted"> Ready to ship</a>
                                        </li>
                                        <li>
                                          <a class="text-muted"> Light weight</a>
                                        </li>
                                        <li>
                                            <a class="text-muted"> Responsive</a>
                                        </li>
                                        <li>
                                            <a class="text-muted">Inner Pages</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h5>We Work With</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                        <a class="text-muted">Python</a>
                                        </li>

                                        <li>
                                        <a class="text-muted">Ruby</a>
                                        </li>

                                        <li>
                                        <a class="text-muted">JAVA</a>
                                        </li>
                                
                                        <li>
                                            <a class="text-muted">Javascript</a>
                                        </li>

                                        <li>
                                        <a class="text-muted">SQL</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                     <h5>Help</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="https://github.com/LonDevs" class="text-muted">Projects</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Map</a>
                                            <a>Coming soon</a>
                                        </li>
                                        <li>
                                        <a href="#" class="text-muted">How to use?</a>
                                        <a>Coming soon</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h5>About</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                           <%= link_to "Team", pages_about_path, :class => "text-muted" %>
                                        </li>
                                        <li>
                                           <%= link_to "Privacy & Terms", pages_privacy_path, :class => "text-muted" %>
                                        </li>
                                        <li>
                                            <%= link_to "Contact", pages_contact_get_path, :class => "text-muted" %>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>