<!-- Preloader -->
<div class="preeloader">
    <div class="preloader-spinner"></div>
</div>
<!-- End Preloader -->

<!-- Londevs.com Color Plate -->
<!-- <div class="color-plate ">
    <a class="color-plate-icon"><i class="fa fa-cog fa-spin"></i></a>
    <h4>Londevs.com Colors</h4>
    <p>Speed up your development with high quality modules.</p>
    <span class="color1"></span>
    <span class="color2"></span>
    <span class="color3"></span>
    <span class="color4"></span>
</div> -->
<!-- /End Color Plate -->

<!-- Header Area -->
<header id="site-header" class="site-header">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <p>Welcome to Londevs.com</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="social-contact">
                        <ul>
                            <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni lni-download"></i></a></li>
                            <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a class="navbar-brand" href="#"><h3 class="masthead-brand mb-0">LonDevs.com</h3></a>
                    </div>
                    <!-- End Logo -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-10 col-md-10 col-12">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a target="_blank" href="http://ai.londevs.com/pages/about">About Us</a></li>
                                <li><a target="_blank" href="https://londevs.com/services.html">Free Service</a></li>
                                <li><a target="_blank" href="https://londevs.com/portfolio.html">Our work</a></li>
                                <li><a target="_blank" href="/faqs.html">How to use?</a></li>
                                <!-- Login -->
                                <!-- Register -->
                            </ul>
                        </nav>
                    </div>
                    <!--/ End Main Menu -->
                    <!--/ End Main Menu -->
                    <a href="http://ai.londevs.com/sign_in" class="button">Login</a>
                    <a href="http://ai.londevs.com/sign_up" class="button">Register</a>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Bottom -->
</header>
<!--/ End Header Area -->