<br>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">We are a group of engineers. Who wants to reduce development time by providing free tools</p>
                        <p class="aboutus-text">This tools have the featuers and modules which are already built or used in the software industry. You can checkout out beta version of product by clicking on below button</p>
                        
                        <%= link_to "Login", new_user_session_path, :class => "aboutus-more" %>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="#" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h4>What we are building</h4>
                                    <p>Right now we are in the process of building the application where software developer can find any code wants and intigrate into there own application</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h4>Free Projects Code</h4>
                                    <p>Now you can find free clone of websites and costumize it for your own pupose</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h4>Support Us</h4>
                                    <p>We are open to suggestions! if you think your idea can help us to provide better service to other engineers like us. Please email us at pradeep.rayapudi93@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>