<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content="Low cost information technologies services in europe based in united kingdom" name="description">
	<meta content="Development, CSS, HTML, RUBY, Python, Ruby on Rails, MySql, PostgreSQL, Django, Angular, React, React Native, Node.JS, Git, Docker, PHP, Laravel, Deployment" name="keywords">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Londevs.com Find and Share Web Modules</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="img/favicon.png">
	<!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
	
	<!-- icons library -->
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="css/LineIcons.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Animat -->
    <link rel="stylesheet" href="css/animate.css">
	
	<!-- Londevs.com StyleSheet -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
	
	<!-- Color CSS -->
	<link rel="stylesheet" href="css/color/color1.css">

	<link rel="stylesheet" href="#" id="colors">
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preeloader">
		<div class="preloader-spinner"></div>
	</div>
	<!-- End Preloader -->
	
	<!-- Londevs.com Color Plate -->
	<!-- <div class="color-plate ">
		<a class="color-plate-icon"><i class="fa fa-cog fa-spin"></i></a>
		<h4>Londevs.com Colors</h4>
		<p>Speed up your development with high quality modules.</p>
		<span class="color1"></span>
		<span class="color2"></span>
		<span class="color3"></span>
		<span class="color4"></span>
	</div> -->
	<!-- /End Color Plate -->

	<!-- Header Area -->
	<header id="site-header" class="site-header">
		<!-- <div class="buy-pro">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner">
							<p>Get Pro for 3+ Unique Homepages & Much more awesome features</p>
							<div class="pro-button">
								<a href="https://graygrids.com/item/Londevs.com-creative-saas-landing-page-template/" target="_blank" class="btn">Buy Pro!</a>
								<a href="http://preview.graygrids.com/item/Londevs.com-creative-saas-landing-page-template/" target="_blank" class="btn">Pro Live Demo</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<p>Welcome to Londevs.com</p>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="social-contact">
							<ul>
								<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
								<li><a href="#"><i class="lni lni-vimeo"></i></a></li>
								<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
								<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
								<li><a href="#"><i class="lni lni-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a class="navbar-brand" href="#"><h3 class="masthead-brand mb-0">LonDevs.com</h3></a>
						</div>
						<!-- End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-10 col-md-10 col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation ">
								<ul class="nav menu">
									<li class="active"><a href="home">Home</a></li>
									<li><a href="#about-us">About Us</a></li>
									<li><a href="https://londevs.com/services.html">Free Service</a></li>
									<li><a href="https://londevs.com/portfolio.html">Our work</a></li>
									<li><a href="#faq">How to use?</a></li>
									<!-- Login -->
									<!-- Register -->
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
						<a href="#" class="button">Login</a>
						<a href="#" class="button">Register</a>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Bottom -->
    </header>
	<!--/ End Header Area -->
	
	<!--Frequently asked questions start-->
    <section id="faq" class="faq-section section">
         <div class="container">
			<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Frequently asked questions</h2>
							<p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum market. </p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-12">
					<div id="accordion" class="mt-4 faq-container">
						<div class="simple-card">
						   <div class="card-header" id="headingOne">
							  <h5 class="mb-0">
								 <button class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								 <span class="arrow-container"></span> Reque insolens in vel?
								 </button>
							  </h5>
						   </div>
						   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
							  <div class="card-body">
								 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							  </div>
						   </div>
						</div>
						<div class="simple-card">
						   <div class="card-header" id="headingTwo">
							  <h5 class="mb-0">
								 <button class=" btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								 <span class="arrow-container"></span> Vis rebum error graecis ea, id sit postea accusamus?
								 </button>
							  </h5>
						   </div>
						   <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
							  <div class="card-body card-with-button">
								 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								 <a href="#" class=" btn">Go to documentation</a>
							  </div>
						   </div>
						</div>
						<div class="simple-card">
						   <div class="card-header" id="headingThree">
							  <h5 class="mb-0">
								 <button class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								 <span class="arrow-container"></span> Lorem repudiandae ne nec?
								 </button>
							  </h5>
						   </div>
						   <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							  <div class="card-body">
								 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							  </div>
						   </div>
						</div>
					</div>
				</div>
			</div>
         </div>
    </section>
    <!--Frequently asked questions end-->
	
	<!-- Start Blog Area -->
	<section class="blog section" id="blog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Read Our Blog</h2>
						<p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum market. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="img/blog1.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">22 Aug, 2020</div>
								<h2><a href="blog-single-sidebar.html">We have annnocuced our new product.</a></h2>
								<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="img/blog2.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">15 Jul, 2020</div>
								<h2><a href="blog-single-sidebar.html">Top five way for learning web development.</a></h2>
								<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="img/blog3.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">05 Jan, 2020</div>
								<h2><a href="blog-single-sidebar.html">We provide highly business soliutions.</a></h2>
								<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Area -->
	
	<!--Get Started start-->
    <section id="get-started" class="get-started section">
        <div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-12">
					<div class="inner-content">
						 <p class="small-title">Build your software</p>
						 <h1 class="main-title">Get <b>started</b> now</h1>
						 <p class="des">Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.</p>
						 <a href="#" class="btn">For Free</a>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!--Get Started end-->
	
	<!-- Start Newsletter Area -->
    <section class="newsletter section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6  col-12">
					<!-- Start Newsletter Form -->
                    <div class="subscribe-text ">
						<h6>Sign up for newsletter</h6>
						<p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
                    </div>
					<!-- End Newsletter Form -->
                </div>
                <div class="col-lg-6  col-12">
					<!-- Start Newsletter Form -->
                    <div class="subscribe-form ">
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="btn">Save Me</button>
                        </form>
                    </div>
					<!-- End Newsletter Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /End Newsletter Area -->
	
	<!--Footer start-->
    <section id="footer" class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="footer-logo">
                     <a href="#">Londevs.com</a>
                  </div>
                  <div class="contact-info">
                     <p>
                        Speed up your development with high quality modules. 
                     </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
				   <div class="single-footer f-link">
						<h5>Quick menu</h5>
						<ul>
							<li><a href="#home">Home</a></li>
							<li><a href="#about-us">About Us</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#services">Services</a></li>
						</ul>
				   </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
				    <div class="single-footer f-link">
					  <h5>Featured links</h5>
						<ul>
							<li class="nav-item"><a href="#faq">Documentation</a></li>
							<li class="nav-item"><a href="#get-started">Get Started</a></li>
							<li class="nav-item"><a href="#blog">Blog</a></li>
						</ul>
				    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
					<div class="single-footer f-contact">
					  <h5>Keep in touch</h5>
					  <div class="contact-info">
						 <p>
                          Need help to develop your software contact
						</p>
					  </div>
					  <p>
						 +44-7341206839
					  </p>
					  <p>
						 <a href="mailto:pradeep.rao@londevs.com">pradeep.rao@londevs.com</a>
					  </p>
						<ul class="footer-social">
							<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
							<li><a href="#"><i class="lni lni-vimeo"></i></a></li>
							<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
							<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
							<li><a href="#"><i class="lni lni-pinterest"></i></a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="text-center copyright">2020 Londevs.com</p>
				</div>
			</div>
		</div>
    </section>
    <!--Footer end-->
 
	<!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
</body>
</html>