<br>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">We are a group of engineers. Wants to reduce development time by providing free tools to startups.</p>
                        <p class="aboutus-text">This tools have the featuers and modules which are already built or used in the software industry. You can checkout out beta version of product by clicking on below button.</p>
                        <%= link_to "Login", new_user_session_path, :class => "aboutus-more" %>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="#" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>