<br>
<br>
<div>
<h4> You are one step closer create your own product</h4>
</div>
<br>
<div class="container contact-form">
    <center><%= image_tag "https://s3.eu-west-2.amazonaws.com/londevs.com/charity_device_dribbble_gif.gif?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECAaCWV1LXdlc3QtMiJGMEQCICIvRKQKu8eL8pDtLPrxtV%2BQ4UfLru4yI%2BcYkZ52KuFpAiA5o%2FkY%2BEOEenMCZVrwo83EqHKZP5sLLZPONFjn2SRN7yr%2FAgjZ%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg0NTc3MDkxMDYxMCIMs4ucX6vMTJ2rxlYpKtMCepdLf5h9rsI5qOLRzXQrFlSfgFCimYHT1dQ3JS5QrX0wARlRC39zQWel1Tt9XhyZjvlxi0MLz5RftTxTbLrgj%2Bw9Pz7xEDRyc%2FXYg920V9IvS5ouBloeIJHWwanNpp9L5UGfYrm92COUtzgwcU677OPaA%2B2ABq%2FBtAhGoSZKshTGRPniE2R5bc%2Bk8pu08z2ujSirEk6mjdzyQI5f2aOOO0bYD2ycbo7sllYGUgwj17qBRMiAJo7yqjGhNN8Pf4EISVLmZhudt52zJMHRwXwfIRnqBvaosKNI%2FQ1ZA3DuRhHU0OCj4bqzmPWQyGzmQWXWWiPj6cMJ4UEXQDnH03E5QZc4fz5azni%2Bw6DOGovOXlw6KivbFQ8XNNbZ5E8hpmslRQwqG5IeqK3PN%2BrLNv3kqzqLyY0K094dUsN8z1ZPYonVjK1lvHqawUCRdQu0UlWIBnBqMNuqk4YGOrQCnbcJy6GKzp%2BO86WYcHtYA6l8Mhf2VromtZ45HbQH1w89e8n37aVjZz0EGNqqIaz4YNKfbkkZC5v5zkk24%2Ba31ijxXrYYg7RlddcO%2F%2FIJc6%2BHyygovLsG37BKVuM7GbNimInqSH%2B5%2BrJPoI491eMoszOrtDEwdx8x690ct%2FKF8lK4Zr3Vt2tB0w7eUZxG1qTpHuT4dXfyZu2VmMB%2Bk0g4YBS8RSrHnFSXXRRyu%2FGMVfT7lfh%2BquW1O3hr0UUMTYVZfIDMjah4tJGyb9exWs2EoxRODQxxt7MmP%2BdK%2FNOtL0Up%2BW%2FxXppHNXmJ7mWkbIbYmOYYptwQ8r4WQiCuhhIQwF%2F7Rp5MPOhtQ8HS%2BrVLRElg5zG3YKOxWYt6VBHXuuxFJsjBt%2BIkR3ficrMt3hq1YlPad48%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210612T160209Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA4J2675OJC5C5GNFQ%2F20210612%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Signature=03faae552a6d6f748e0730c337165152eb0f94d5fdc8cd115445b862a67c9c64"%></center>
</div>