<br>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Terms and Conditions </h2>
                        <p class="aboutus-text">These terms and conditions outline the rules and regulations for the use of LonDev's Website, located at LonDevs.com.</p>
                        <p class="aboutus-text">
                            Welcome to Londevs by devs like you
                            By accessing this website we assume you accept these terms and 
                            conditions. Do not continue to use Website Name if you do not agree to take all of the 
                            terms and conditions stated on this page.The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer 
                            Notice and all Agreements: 
                        </p>
                        
                        <%= link_to "Login", new_user_session_path, :class => "aboutus-more" %>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="#" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                <br>
                                <br>
                                <br>
                                <br>
                                    <p>“Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's 
                                    terms and conditions. “The Website”, “Ourselves”, “We”, “Our” and “Us”, refers to our Application. “Party”, “Parties”, or “Us”, refers to both 
                                    the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our 
                                    assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of 
                                    the Company's stated services, in accordance with and subject to, prevailing law of United Kingdom. Any use of the above terminology or 
                                    other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>