            <% post.comments.each do |comment| %>
             <div class="mb-2">
               <% if comment.user == current_user %>
                 <%= link_to "Delete Comment", comment_path(comment), method: :delete, remote: true, class: "delete-comment" %>
               <% end %>
               <span><strong><%= comment.user.name %></strong></span>
               <span><%= comment.content %></span>     
             </div>
          <% end %>