         <!-- Module Importing Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Import <%= @post.content %></h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
           <p>Import to:  </p>
           <p>Import from:  Londevs</p>
           <div>
           <style>
           <%=raw @post.frontend_css %>
           </style>
       
           <%=raw @post.frontend %>
           
           <script>
             <%=raw @post.javascript %>  
           </script>

           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <!-- Link to the controller method -->
             <button type="button" class="btn btn-primary">Editing permission</button>
             <button type="button" class="btn btn-primary">Import To Your Application</button>
           </div>
         </div>
       </div>
         </div>