<div class="container">
<br>
<center>
<div class="box col-xl-8 col-lg-8 col-xs-8">
  <div class="col-lg-8 col-md-7 d-flex">
    <%=raw @post.frontend %>
    <%=raw @post.frontend_css %>
    <%=raw @post.backend %>
  </div>
</div>
</center>
</div>