<div class ="container">
<div class="d-flex flex-column">
<br>
<center><h5><b>Modules</b></h5></center>
<!-- <div><center><%= link_to "Load New Modules", @post, id: "posts", remote: true %></center></div> -->

  <div id="post"> </div>
      <div id="posts" data-controller='post-list'>
          <div data-target='post-list.post'>
          </div>
        <%= render 'posts' %>
      </div>
</div>
<br>
<center><%= will_paginate @posts %></center>
</div>