@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";

body {
 background-color: #fafafa;
 font-size: 14px;
 font-family: 'Nunito', sans-serif;
 color: #262626;
}

.navbar{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    height: 77px;
}

.core-sprite {
  background-image: img-url("");
  background-size: 485px 379px;
  background-repeat: no-repeat;
}

.navbar-brand {
    background-position: -176px 0;
    height: 35px;
    width: 176px;
}

.hide-text {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

.explore-icon {
    background-position: -50px -355px;
    height: 24px;
    width: 24px;
}

.notification-icon {
    background-position: -353px -355px;
    height: 24px;
    width: 24px;
}

.profile-icon {
    background-position: -300px -176px;
    height: 24px;
    width: 24px;
}

.nav-items:not(:first-child){
  margin-left: 30px 
}

.box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 10px 0;
    margin: 0 0 10px;
}

.brand-name-img {
    background-position: 0 0;
    height: 51px;
    width: 175px;
}

// landing page css
.landing-left {
    .dummy-phone {
        background-image: image-url("ideas-transparent-logo.png");
        background-repeat: no-repeat;
        background-position: right 0;
        background-size: 550px 590px;
        position: relative;
        height: 700px;
        margin-left: -30px;
        margin-right: -15px;
    }

    .screen-shot {
        position: absolute;
        top: 99px;
        right: 60px;

        .item {
            position: absolute;
        }
    }
}

// left side in login view
.landing-right {
    .form-login {
        width: 350px;

        form {
            
             padding: 0 40px;

             
            .btn-dark {
                width: 100%;
                line-height: 14px;
                font-size: 14px;
                font-weight: 600;
            }

            input {
                border: 1px solid #efefef;
            }

            .form-check-label {
                padding: 0;
                font-size: 15px;
                color: #262626;
            }

        }
    }

    .redirect-links {
         width: 350px;
    }
}

// footer css
footer .nav-item {
    color: #003569 !important;
    font-size: 12px;
    font-weight: bold;
}

.light-color{
    color: #999;
}

//carousel css
.carousel-fade {
    .carousel-item.active {
        opacity: 1;
        display: block;
    }

    .carousel-item {
        transition: opacity 0.6s ease-in-out;
        opacity: 0;
        position: relative;
        display: block;
    }

    .carousel-item:not(.active) {
        position: absolute;
        top: 0px;
    }
}

// post view css

.post-author-icon {
    height: 40px;
    width: 40px;
    border-radius: 15%;
    margin-right: 10px;
}

//cust upload photo

.upload-photos-icon:hover {
    cursor: pointer;
}

.dz-preview.dz-image-preview {
    margin: 2px;
}

.dz-image {
    border-radius: 0px !important;

    img {
        width: 100%;
    }
}

.dz-remove {
    @extend .core-sprite;
    @extend .hide-text;
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 20;
    width: 18px;
    height: 18px;
    background-position: -386x -25px;
    opacity: 0;
    -webkit-transition: opacity 0.2s liner;
    transition: opacity 0.2s liner;
}

.dropzone .dz-preview:hover .dz-remove {
    opacity: 1;
}

.upload-photos-icon {
    height: 120px;
    width: 120px;
    border: 2px dashed #dddfe2;
    border-radius: 2px;
    padding: 48px;
    display: inline-block;
    margin: 2px;
}

// Customize post views
.posts{

    .card-header {
        background-color: white;
    }
    
    .card-body {
        padding: 5px 16px 5px;
    }

    .actions {
        margin: 12px 0;
    }

    .post-time {
        margin-top: 5px;
        font-size: 10px;
    }

    .comment-input {
        font-size: 14px;
        resize: none;
    }

    .previous-btn {
        background-position: -281px -280px;
        height: 30px;
        opacity: 1;
        width: 30px;
    }

    .next-btn {
        background-position: -353px 0px;
        height: 30px;
        opacity: 1;
        width: 30px
    }
}

.love {
    background-position: -325px -329px;
    height: 24px;
    width: 24px;
}

.loved {
    @extend .love;
    background-position: -182px -336px;
}

.comment {
    @extend .love;
    background-position: -258px -175px;
    margin-left: 8px;
}

.bookmark {
    @extend .love;
    background-position: -150px -353px;
}

.bookmarked {
    @extend .love;
    background-position: -35px -273px;
}

.comment-list {
   height: 310px;
   overflow: auto;
}

.post-show-img {
    background-color: #fafafa;
    margin: -10px 0;
}

.delete-comment {
    width: 45px;
    height: 11px;
    background-position: -216px -112px;
    float: right;
    margin: 5px 0 0 10px;
}

// serach 
.search-result-item {
    padding: 15px;
}

.search-result-item:hover {
    background-color: #fafafa;
}

.popover {
    border-radius: 0;
}

.popover-body {
    background: #fff;
    padding: 0;
}

// profile tabs
.profile-tab {
    
 margin-top: 60px;

    .nav-tabs {
        border: 0;
        border-top: 1px solid #ddd;

        .nav-item {
            border-radius: 0;
            border: 0;
            border-top: 1px solid transparent;
            margin-top: -1px;
            padding: 10px 0;
            background: transparent;
            font-size: bold;
            color: #999;
        } 
        
        .nav-item.active {
            color: #262626;
            border-top: 1px solid #262626;
        }
    }

    .post-stat {
        position: absolute;
        color: white;
        font-size: 18px;
        font-weight: bold;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        top: 0;
        opacity: 0;
    }

    .col-4:hover .post-stat {
        background-color: rgba(0,0,0,.3);
        opacity: 1;
    }

    image-preview {
        margin-bottom: 30px;
    }
}

.profile-wrapper {
    padding: 60px 0;
    border-bottom: 1px solid #efefef;

    .username {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
    }

    .email {
        font-size: 16px;
        font-weight: bold;
    }
}

.round-img {
    border-radius: 15%;
}

.common-btn{
    height: 25px;
    line-height: 24px;
    padding: 0 24px;
    border-color: #dbdbdb;
    font-size: 14px;
}

.edit-profile-btn {
    margin: 5px 0 0 15px;
    font-weight: bold;
}

.setting {
    margin: 5px 0 0 10px;
    background-color: transparent;
    background-position: -125px -355px;
    height: 24px;
    width: 24px;
    border: none;
}

.setting:hover {
    cursor: pointer;
}

.edit-profile-wrapper {
    margin: 60px 0 0;

    .left-col {
        border: 1px solid #dbdbdb;
        padding: 0;
        background-color: white;
    
        .list-group-item{
            border: none;
            color: #262626;
            border-radius: 0;
            font-size: 16px;
            border-left: 2px solid transparent;
        }

        .list-group-item:first-child {
            font-weight: bold;
            border-left-color: #262626;
        }

        .first-group-item:not(:first-child):hover {
            border-left-color: #dbdbdb;
        }
    }

    .right-col {
        border: 1px solid #dbdbdbdb;
        border-left: none;
        background-color: white;

        .username-img {
            margin: 32px 0;

            .col-sm-9 {
                font-size: 20px;
                font-weight: 400;
                line-height: 20px
            }
        }

        .form-group {
            font-size: 16px;
        }
    }
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.aboutus-more {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #000;
    padding:0px;
    font-size:40px;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.contact-form{
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #000;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #000;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}

/* file upload css*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.signup {
  margin-top: 50px;
}
.login {
  margin-top: 90px;
}
.forgot-password {
    margin-top: 120px;
}
.profile-post-tabs {
    margin-bottom: 20px;
}
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'fontawesome';
    content: "\f054"; /* "play" icon */
    float: right;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.name-color{
    color: #000;
}